{# XML response when successfull. #}
<?xml version="1.0" encoding="UTF-8"?>
<user>
    <valid>{{ valid|default('invalid') }}</valid>
    <title>{{ title|default('') }}</title>
    <userid>{{ userId|default('') }}</userid>
    <fname>{{ firstName|default('') }}</fname>
    <lname>{{ lastName|default('') }}</lname>
    <email>{{ email|default('') }}</email>
    <dg>{{ department|default('') }}</dg>
    <country iso="{{ country.iso|default('') }}">{{ country.name|default('') }}</country>
    <region>{{ country.region|default('') }}</region>
</user>
